@import '/node_modules/@swimlane/ngx-datatable/index.css';
@import '/node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '/node_modules/@swimlane/ngx-datatable/assets/icons.css';

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
.datatable-row-detail { width: 100vw; }

.ngx-datatable.material .datatable-body .datatable-group-header {
    height: 40px;
    align-items: center;
    display: flex;
    background-color: #fff !important;
    .custom-header {
      display: flex !important;
      align-items: center !important;
      width: 100%;
    }
}
.ngx-datatable.material .datatable-body .datatable-group-header:hover {
  background-color: #ccc !important;

  .actions-btn-container {
    visibility: visible !important;
  }
}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover {
  .actions-btn-container {
    visibility: visible !important;
  }
}
